
<table class="table">
    <thead>
    <tr>
        <th scope="col">Field</th>
        <th scope="col">Value</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>firstname :</td>
        <td> <div id="firstname"></div> </td>

    </tr>
    <tr>
        <td>lastname:</td>
        <td> <div id="lastname"></div> </td>

    </tr>
    <tr>
        <td>street_number : </td>
        <td> <div id="street_number"></div> </td>
    </tr>
    <tr>
        <td>zip : </td>
        <td><div id="zip"></div> </td>
    </tr>
    <tr>
        <td>city :</td>
        <td> <div id="city"></div> </td>
    </tr>
    <tr>
        <td> country :</td>
        <td> <div id="country"></div></td>
    </tr>
    <tr>
        <td>Birthday :</td>
        <td> <div id="birthday"></div> </td>
    </tr>
    <tr>
        <td>phonenumber : </td>
        <td> <div id="phonenumber"></div> </td>
    </tr>
    <tr>
        <td>email : </td>
        <td> <div id="email"></div> </td>
    </tr>
    </tbody>
</table>


